[diff]
    tool = vimdiff

[color]
    ui = true

[alias]
    l     = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author-date-order
    lg    = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --author-date-order --all
    stat  = status
    st    = status
    ff    = merge --ff-only
    index = diff --cached

[core]
    excludesfile = ~/.gitignore
    whitespace = space-before-tab

[push]
    default = upstream

[merge]
    conflictstyle = diff3
	tool = diffconflicts

[mergetool "tabbedmeld"]
    cmd = meld $LOCAL $BASE $REMOTE -o $MERGED --diff $BASE $LOCAL --diff $BASE $REMOTE

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[include]
    path = ~/.gitconfig.local
[user]
	email = phil.weir@numa.ie
	name = Phil Weir
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
[mergetool]
	keepBackup = false
